.react-rotating-text {
  font-size: 16px;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
  color: var(--darken);
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.text-center {
  text-align: center!important;
}

.rotating-text > span {
  font-size: 32px;
  font-weight: 800;
}

.subheading {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  color: var(--primary);
  letter-spacing: 4px;
}

.name {
  font-size: 60px;
  font-weight: 800;
  color: var(--black);
  margin: 0;
}
