.navbar { 
  background-color: var(--white);
  z-index: 1000;
  min-height: 100px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

 .brand {
  color: #00010f;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  font-size: 24px;
  font-weight: 800;
  z-index: 0;
}

.brand-span {
  padding-left: 5px;
  padding-right: 5px;
  color: var(--white);
  background-color: var(--primary);
}

.brand:hover {
  cursor: pointer;
}

 .nav-item {
  color: var(--black);
  font-weight: 800;
  font-size: 18px;
  opacity: 1!important;
}

.nav-item > .active {
  /* padding-bottom: 3px; */
  /* border-bottom: 2px solid var(--primary); */
  color: var(--primary);
}

.nav-item:hover {
  /* color: var(--black); */
  cursor: pointer;
  color: var(--primary);
  /* padding-bottom: 3px; */
  /* border-bottom: 2px solid var(--primary); */
}
